<div class="col mb-4 p-0 border border-dark post">
  <div class="d-flex justify-content-between post-header">
    <h3 class="comment-header">
    </h3>
  </div>
  <div class="col mb-4 p-0 post-body post">
    <p>
      {{comment_content}} <br>--{{user.username}} on {{format_date date_created}}
    </p>
  </div>
</div>
