<div class="post">
    <div class="post-header d-flex justify-content-between">
        <h4><a href="/dashboard/edit/{{id}}">{{title}}</a></h4>
        <h4>{{format_date date_created}}</h4>
    </div>
</div>