<h1>Dashboard</h1>
{{#each posts as |post| }}
{{> dashboard }}
{{/each}}
<button type="submit" class="btn" id="new-post"><a href="/dashboard/new">Create a new post</a></button>
{{!-- <script src="/js/newPost.js"></script> --}}