<div>
{{> post }}
<div class="mb-4 border border-dark post">
    <div class="d-flex justify-content-between comment-header post-header">
    </div>
    <div class="col post-body">
        <form class=" new-comment-form">
            <label class="form-label" for="content">Comment</label>
            <input name="comment" type="text" id="comment" placeholder="leave your comment here" class="form-input" />
            <button type="submit" class="btn" id="comment-btn">submit</button>
        </form>
    </div>
</div>

{{#each comments as |comment| }}
{{> comments }}
{{/each}}

<script src="/js/comment.js"></script>