{{> post }}
<div class="col mb-4 border border-dark post"></div>
    <div class="d-flex justify-content-between post-header">
    </div>
    <div class="post-body">
        <form class=" new-comment-form">
            <label class="form-label" for="content">Comment</label>
            <input name="comment" type="text" id="comment" value="leave your comment here" class="form-input" />
            <button type="submit" class="btn" id="comment-btn">submit</button>
        </form>
    </div>
</div>

{{#each comments as |comment| }}
{{> comments }}
{{/each}}

<script src="/js/comment.js"></script>