<div class="post">
    <h3 class="post-header">Edit Post</h3>
    <form class="post-body edit-post-form">
        <label for="title" class="form-label">Title</label>
        <input name="title" type="text" id="title" value="{{title}}" class="form-input" />
        <label class="form-label" for="content">Content</label>
        <input name="content" type="text" id="content" value="{{content}}" class="form-input" />
        <button type="submit" class="btn" id="update-btn">Update Post</button>
        <button type="button" id="delete-btn" class="delete-post-btn btn">Delete Post</button>
    </form>
</div>


<script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script>